<h1>Create Task</h1>
<form action="/api/task" method="post">
    <label>Title</label>
    <input type="text" name="title" />
    <br/>
    <label>Category</label>
    <input type="text" name="category" />
    <br/>
    <label>Duration</label>
    <input type="text" name="duration" />
    <br/>
    <label>startTimeHours</label>
    <input type="text" name="startTimeHours" />
    <br/>
    <label>startTimeMinutes</label>
    <input type="text" name="startTimeMinutes" />
    <br/>
    <label>day</label>
    <input type="text" name="day" />
    <br/>
    <button type="submit">Create</button>
</form>