<div class="container credits">
    <div class="row">
        <div class="col-md-12 titleContainer">
            <h1>
                {{title}}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col firstCol">
            <p>Icon's title:</p>
        </div>
        <div class="col-md-3 col">
            <p>Icon:</p>
        </div>
        <div class="col-md-3 col">
            <p>Made by:</p>
        </div>
        <div class="col-md-3 col lastCol">
            <p>From:</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col firstCol">
            <p>add.png</p>
        </div>
        <div class="col-md-3 col">
            <img src="/img/add.png"></img>
        </div>
        <div class="col-md-3 col">
            <a href="https://smashicons.com/">
                Smashicons
            </a>
        </div>
        <div class="col-md-3 col lastCol">
            <a href="https://www.flaticon.com/">
                 www.flaticon.com 
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col firstCol">
            <p>arrow.png</p>
        </div>
        <div class="col-md-3 col">
            <img src="/img/arrow.png"></img>
        </div>
        <div class="col-md-3 col">
            <a href="http://yannicklung.com/">
                Yannick Lung
            </a>
        </div>
        <div class="col-md-3 col lastCol">
            <a href="https://www.iconfinder.com">
                 www.iconfinder.com
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col firstCol">
            <p>edit.png</p>
        </div>
        <div class="col-md-3 col">
            <img src="/img/edit.png"></img>
        </div>
        <div class="col-md-3 col">
            <a href="http://www.webalys.com/">
                www.webalys.com
            </a>
        </div>
        <div class="col-md-3 col lastCol">
            <a href="https://www.iconfinder.com">
                 www.iconfinder.com
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col firstCol">
            <p>linkedin.png</p>
        </div>
        <div class="col-md-3 col">
            <img src="/img/linkedin.png"></img>
        </div>
        <div class="col-md-3 col">
            <a href="https://www.freepik.com/">
                Freepik
            </a>
        </div>
        <div class="col-md-3 col lastCol">
            <a href="https://www.flaticon.com/">
                  www.flaticon.com 
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col firstCol">
            <p>list.png</p>
        </div>
        <div class="col-md-3 col">
            <img src="/img/list.png"></img>
        </div>
        <div class="col-md-3 col">
            <a href="https://www.behance.net/user/?username=webdizbr">
                Denis Mikhutin
            </a>
        </div>
        <div class="col-md-3 col lastCol">
            <a href="https://www.iconfinder.com">
                 www.iconfinder.com
            </a>
        </div>
    </div>
     <div class="row">
        <div class="col-md-3 col firstCol">
            <p>minus.png</p>
        </div>
        <div class="col-md-3 col">
            <img src="/img/minus.png"></img>
        </div>
        <div class="col-md-3 col">
            <a href="https://smashicons.com/">
               Smashicons
            </a>
        </div>
        <div class="col-md-3 col lastCol">
            <a href="https://www.flaticon.com/">
                 www.flaticon.com 
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col firstCol">
            <p>more.png</p>
        </div>
        <div class="col-md-3 col">
            <img src="/img/more.png"></img>
        </div>
        <div class="col-md-3 col">
            <a href="https://www.flaticon.com/authors/robin-kylander">
               Robin Kylander
            </a>
        </div>
        <div class="col-md-3 col lastCol">
            <a href="https://www.flaticon.com/">
                 www.flaticon.com 
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col firstCol">
            <p>switchOn.png</p>
        </div>
        <div class="col-md-3 col">
            <img src="/img/switchOn.png"></img>
        </div>
        <div class="col-md-3 col">
            <a href="https://smashicons.com/">
               Smashicons
            </a>
        </div>
        <div class="col-md-3 col lastCol">
            <a href="https://www.flaticon.com/">
                 www.flaticon.com 
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col firstCol">
            <p>switchOff.png</p>
        </div>
        <div class="col-md-3 col">
            <img src="/img/switchOff.png"></img>
        </div>
        <div class="col-md-3 col">
            <a href="https://smashicons.com/">
               Smashicons
            </a>
        </div>
        <div class="col-md-3 col lastCol">
            <a href="https://www.flaticon.com/">
                 www.flaticon.com 
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col firstCol">
            <p>trushBin.png</p>
        </div>
        <div class="col-md-3 col">
            <img src="/img/trushBin.png"></img>
        </div>
        <div class="col-md-3 col">
            <a href="https://graphicriver.net/user/firststyles">
               First Styles  
            </a>
        </div>
        <div class="col-md-3 col lastCol">
            <a href="https://www.iconfinder.com">
                 www.iconfinder.com
            </a>
        </div>
    </div>
</div>
