<div class="container send">
    <div class="row">
        <div class="col-md-12">
            <h4>Thanks for creating account timeAssembly</h4>
            <h4>Please, check your email, we've sent you a verification link</h4>
        </div>
    </div>
</div>