<h1>Update Slot</h1>
<form action="/api/slot/{{id}}" method="put">
    <label>Title</label>
    <input type="text" name="title" />
    <br/>
    <label>Category</label>
    <input type="text" name="category" />
    <br/>
    <label>Duration</label>
    <input type="text" name="duration" />
    <br/>
    <label>Total</label>
    <input type="text" name="total" />
    <br/>
    <label>Free</label>
    <input type="text" name="free" />
    <br/>
    <label>Temporary</label>
    <input type="text" name="temporary" />
    <br/>
    <label>Due Date</label>
    <input type="text" name="dueDate" />
    <br/>
    <button type="submit">Update</button>
</form>