body {
  margin: 0;
  padding: 0;
  font: 14px Helvetica, Arial, sans-serif;
}

/* Navbar */
.navbar {
  background-color: #154e14;
  /* background-color: #196f1f; */
  margin: 2px;
}

.navbar a.navbar-brand {
  color: #cecece;
}

.navbar a.navbar-brand:hover {
  color: #fff;
}

div.navbar-collapse > ul.navbar-nav > li.nav-item > a.nav-link {
  color: #cecece;
}

div.navbar-collapse > ul.navbar-nav > li.nav-item > a.nav-link:hover {
  color: #fff;
}

div.navbar-collapse > ul.navbar-nav > li.nav-item > a {
  color: #cecece;
}
div.navbar-collapse > ul.navbar-nav > li.nav-item > a:hover {
  color: #fff;
}

/* Week */
div.week {
  margin: 0;
  padding: 0;
  color: #ccc;
  min-height: 30px;
}

div.week span {
  margin-left: 20px;
  font-size: 22px;
}

div.week span:hover {
  color: #000;
  cursor: pointer;
}

/* Days */
.days {
  
}

.day {
  margin: 0;
  padding: 0;
}

.day h4.dayname {
  text-align: center;
}

.timetable {
  
}

.timeInterval {
  border-bottom: 1px solid #000;
}

.timeInterval:hover {
  cursor: pointer;
  background-color: #f6f1c6;
}

.timeInterval .time {
  border-right: 1px solid #000;
}

.timeInterval .addTask {
  margin: 0;
  padding: 0; 
  text-align: center;
}

.timeInterval .addTask:hover {
  cursor: pointer;
}

/* Task */
div.task {
  background-color: #ccc;
  border: 1px solid #000;
}

div.task div.taskTime {
  position: relative;
  text-align: center;
  background-color: #f6f1c6;
  border-right: 1px solid #000;
}

div.task div.taskTime taskStartTime {
  position: absolute;
  top: 0;
}

div.task div.taskTime taskFinishTime {
  position: absolute;
  bottom: 0;
}
