body {
  margin: 0;
  padding: 0;
  font: 14px Helvetica, Arial, sans-serif;
}

/* Navbar */
.navbar {
  background-color: #154e14;
  /* background-color: #196f1f; */
  margin: 2px;
}

.navbar a.navbar-brand {
  color: #cecece;
}

.navbar a.navbar-brand:hover {
  color: #fff;
}

div.navbar-collapse > ul.navbar-nav > li.nav-item > a.nav-link {
  color: #cecece;
}

div.navbar-collapse > ul.navbar-nav > li.nav-item > a.nav-link:hover {
  color: #fff;
}

div.navbar-collapse > ul.navbar-nav > li.nav-item > a {
  color: #cecece;
}
div.navbar-collapse > ul.navbar-nav > li.nav-item > a:hover {
  color: #fff;
}

/* Week */
div.week {
  margin: 0;
  padding: 0;
  color: #ccc;
  min-height: 30px;
}

div.week span {
  margin-left: 20px;
  font-size: 22px;
}

div.week span:hover {
  color: #000;
  cursor: pointer;
}

/* Days */
.days {
  
}

.day {
  margin: 0;
  padding: 0;
}

.day h4.dayname {
  text-align: center;
}

.timetable {
  
}

.timeInterval {
  border-bottom: 1px solid #000;
}

.timeInterval:hover {
  cursor: pointer;
  background-color: #f6f1c6;
}

.timeInterval .time {
  border-right: 1px solid #000;
}

.timeInterval .addTask {
  margin: 0;
  padding: 0; 
  text-align: center;
}

.timeInterval .addTask:hover {
  cursor: pointer;
}

/* Task */
div.task {
  background-color: #ccc;
  border: 1px solid #000;
  overflow: hidden;
}

div.task div.taskTime {
  position: relative;
  text-align: center;
  background-color: #f6f1c6;
  border-right: 1px solid #000;
}

div.task div.taskTime div.taskStartTime {
  position: absolute;
  top: 0;
}

div.task div.taskTime div.taskFinishTime {
  position: absolute;
  bottom: 0;
}

/* Task edit icon */
div.task .editTask {
  margin-top: 6px;
  margin-bottom: 3px;
  margin-right: 10px;
}

div.task .editTask:hover {
  transform: scale(1.1);
}

div.task .removeTask {
  margin-top: 6px;
  margin-bottom: 3px;
}

div.task .removeTask:hover {
  transform: scale(1.1);
}

/* Slot Container */
.slotContainer .slotContainerTitle {
  text-align: center;
}

.slotContainer .createSlotContainer {
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
}

.slotContainer .createSlot {
  margin-bottom: 5px;
}

.slotContainer .slot {
  margin-bottom: 10px;
  border-bottom: 1px solid #000;
}

.slotContainer .slot .slotTitleContainer {
  text-align: center;
}

.slotContainer .slot .slotTitle {
  font-size: 22px;
}

.slotContainer .slot .slotProperty {
  font-size: 16px;
  margin-bottom: 5px;
} 

/* Icons */
.slotContainer .slot .editSlot {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.slotContainer .slot .editSlot:hover {
  transform: scale(1.1);
}

.slotContainer .slot .removeSlot {
  margin-top: 5px;
  margin-bottom: 5px;
}

.slotContainer .slot .removeSlot:hover {
  transform: scale(1.1);
}

.slotContainer .slot .removeSlot:hover {
  transform: scale(1.1);
}

/* add button */
.slotContainer .addButton .slotArrow {
  margin-right: 5px;
} 

.slotContainer .addButton .slotArrow:hover {
  transform: scale(1.1);
}

.slotContainer .slotButtons {
  text-align: right;
}

/* Sidebar */
.settings {
  border-left: 1px solid #000;
}
.sidebar {
  font-size: 22px;
  margin-top: 10px;
  text-align: center;
  
}

.sidebar .sidebarItem {
  margin-top: 10px;
  border-bottom: 1px solid #000;
  cursor: pointer;
}

/* Preferences */
div.preferences .preferencesTitleContainer {
  text-align: center;
}

div.preferences .preferencesItemTitle {
  margin-bottom: 5px;
  text-align: center;
}

div.preferences .timeDisplay {
  margin-bottom: 15px;
}

div.preferences .interval {
  margin-bottom: 15px;
}

div.preferences .scheduleTime .preferencesName {
  margin-right: 5px;
}

div.preferences .preferencesAttribute {
  border-bottom: 1px solid #000;
  min-height: 30px;
}

div.preferences .preferencesAttribute:hover {
  cursor: pointer;
  background-color: #f6f1c6;
}

div.preferences .preferencesName {
  font-size: 18px;
}

/* Create Task form */
div.createTask .titleContainer {
 text-align: center;
}

div.createTask .description {
  font-size: 22px;
  text-align: center;
}

div.createTask .duration {
  margin-top: 10px;
  font-size: 22px;
  text-align: center;
}

div.createTask .hours {
  font-size: 18px;
  margin-left: 10px;
  margin-right: 5px;
}

div.createTask .minutes {
  font-size: 18px;
  margin-left: 10px;
  margin-right: 5px;
}

div.createTask .errors {
  color: red;
  font-size: 16px;
}

div.createTask .buttonContainer {
  margin-top: 15px;
}

/* Create Slot */

div.createSlot .createSlotTitleContainer{
  text-align: center;
}

div.createSlot .title {
  font-size: 18px;
}

div.createSlot .category {
  font-size: 18px;
}

div.createSlot .temporary {
  font-size: 18px;
}

div.createSlot .dueDate {
  font-size: 18px;
}

div.createSlot .total {
  font-size: 18px;
}

div.createSlot .buttons {
  margin-top: 50px;
}