html,body {
  margin: 0;
  padding: 0;
  font: 16px Helvetica, Arial, sans-serif;
}

/* Footer */
div.footer {
  height: 60px;
  background-color: #ccc;
  margin-top: 380px;
}

div.footer div.line {
  margin-top: 20px;
}

div.footer div.icons {
  margin-top: 15px;
  text-align: center;
}

div.footer .icon {
  margin-right: 40px;
}

div.footer span.author {
  color: #154e14;
  margin-right: 60px;
  margin-left: 30px;
}

div.footer a.textLink {
  color: #154e14;
  text-decoration: none;
}

div.footer a.textLink:hover {
  text-decoration: underline;
}

/* Navbar */
.navbar {
  background-color: #154e14;
  /* background-color: #196f1f; */
  margin: 2px;
}


.navbar a.logo {
  font-size: 22px;
  display: inline;
  text-decoration: none;
  color: #cecece;
}

.navbar a.logo:hover {
  color: #fff;
}

div.navbar-collapse > ul.navbar-nav > li.nav-item > a.nav-link {
  color: #cecece;
}

div.navbar-collapse > ul.navbar-nav > li.nav-item > a.nav-link:hover {
  color: #fff;
}

div.navbar-collapse > ul.navbar-nav > li.nav-item > a {
  color: #cecece;
}
div.navbar-collapse > ul.navbar-nav > li.nav-item > a:hover {
  color: #fff;
}

/* Week */
div.week {
  margin: 0;
  padding: 0;
  color: #ccc;
  min-height: 30px;
}

div.week span {
  margin-left: 20px;
  font-size: 22px;
}

div.week span:hover {
  color: #000;
  cursor: pointer;
}

/* Days */
.day {
  margin: 0;
  padding: 0;
}

.day h4.dayname {
  text-align: center;
}

/* timetable */
@keyframes timetable {
  0%   {top: -5px;}
  100% {top: 0px}
}

.timetable {
  animation-name: timetable;
  animation-duration: 0.4s;
}

.timeInterval {
  border-bottom: 1px solid #000;
}

.timeInterval:hover {
  cursor: pointer;
  background-color: #f6f1c6;
}

.timeInterval .time {
  margin: 0;
  padding: 0; 
  text-align: center;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}

.timeInterval .addTask {
  margin: 0;
  padding: 0;  
  text-align: center;
}

.timeInterval .addTask:hover {
  cursor: pointer;
}

/* Task */
div.task {
  background-color: #ccc;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  overflow: hidden;
}

div.task div.taskTime {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #f6f1c6;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

div.task div.taskTime div.taskStartTime {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
}

div.task div.taskTime div.taskFinishTime {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
}

/* div.task .taskContent {
  margin: 0;
  padding: 0;
} */

/* Task edit icon */
div.task .editTask {
  margin-top: 6px;
  margin-bottom: 3px;
  margin-right: 10px;
}

div.task .editTask:hover {
  transform: scale(1.1);
}

div.task .listTask {
  margin-top: 6px;
  margin-bottom: 3px;
}

div.task .listTask:hover {
  transform: scale(1.1);
}

div.task .removeTask {
  margin-top: 6px;
  margin-bottom: 3px;
  float:right;
}

div.task .removeTask:hover {
  transform: scale(1.1);
}

/* Slot Container */
.slotContainer {
  overflow: hidden;
}
.slotContainer .slotContainerTitle {
  text-align: center;
}

.slotContainer .createSlotContainer {
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
}

.slotContainer .createSlot {
  margin-bottom: 5px;
}

.slotContainer .slot {
  margin-bottom: 10px;
  border-bottom: 1px solid #000;
}

.slotContainer .slot .slotTitleContainer {
  text-align: center;
}

.slotContainer .slot .slotTitle {
  font-size: 22px;
}

.slotContainer .slot .slotProperty {
  font-size: 16px;
  margin-top: 8px;
} 

/* Icons */
.slotContainer .slot .editSlot {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.slotContainer .slot .editSlot:hover {
  transform: scale(1.1);
}

.slotContainer .slot .removeSlot {
  margin-top: 5px;
  margin-bottom: 5px;
}

.slotContainer .slot .removeSlot:hover {
  transform: scale(1.1);
}

.slotContainer .slot .removeSlot:hover {
  transform: scale(1.1);
}

/* add button */
.slotContainer .addButton {
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.slotContainer .addButton .slotArrow {
  margin-right: 5px;
} 

.slotContainer .addButton .slotArrow:hover {
  transform: scale(1.1);
}

.slotContainer .slotButtons {
  text-align: right;
}

/* Sidebar */
.settings {
  border-left: 1px solid #000;
  min-height: 300px;
}
.sidebar {
  font-size: 22px;
  margin-top: 10px;
  text-align: center;
  
}

.sidebar .sidebarItem {
  margin-top: 10px;
  border-bottom: 1px solid #000;
  cursor: pointer;
}

/* Preferences */
div.preferences .preferencesTitleContainer {
  text-align: center;
}

div.preferences .preferencesItemTitle {
  margin-bottom: 5px;
  text-align: center;
}

div.preferences .timeDisplay {
  margin-bottom: 15px;
}

div.preferences .interval {
  margin-bottom: 15px;
}

div.preferences .scheduleTime .preferencesName {
  margin-right: 5px;
}

div.preferences .preferencesAttribute {
  border-bottom: 1px solid #000;
  min-height: 30px;
}

div.preferences .preferencesAttribute:hover {
  cursor: pointer;
  background-color: #f6f1c6;
}

div.preferences .preferencesName {
  font-size: 18px;
}

/* Create Task form */
div.createTask {
  overflow: hidden;
  overflow-wrap: break-word;
}
div.createTask .titleContainer {
 text-align: center;
}

div.createTask .description {
  font-size: 22px;
  text-align: center;
}

div.createTask .duration {
  margin-top: 10px;
  font-size: 22px;
  text-align: center;
}

div.createTask .hours {
  font-size: 18px;
  margin-left: 10px;
  margin-right: 5px;
}

div.createTask .minutes {
  font-size: 18px;
  margin-left: 10px;
  margin-right: 5px;
}

div.createTask .errors {
  color: red;
  font-size: 16px;
}

div.createTask .buttonContainer {
  margin-top: 15px;
}

/* Create Slot */

div.createSlot .createSlotTitleContainer{
  text-align: center;
}

div.createSlot .title {
  font-size: 18px;
}

div.createSlot .category {
  font-size: 18px;
}

div.createSlot .temporary {
  font-size: 18px;
}

div.createSlot .dueDate {
  font-size: 18px;
}

div.createSlot .total {
  font-size: 18px;
}

div.createSlot .buttons {
  margin-top: 50px;
}

div.createSlot .errors {
  color: red;
  font-size: 16px;
}

/* Selected Task */
div.selectedTask {
  overflow: hidden;
  overflow-wrap: break-word;
}
div.selectedTask p {
  font-size: 22px;
}
div.selectedTask .titleContainer {
  text-align: center;
}

/* UpdateSlot */
div.updateSlot div.updateSlotTitleContainer {
  text-align: center;
}

div.updateSlot .slotTitle {
  font-size: 32px;
}

div.updateSlot .slotCategory {
  font-size: 32px;
}

div.updateSlot .slotTotal {
  font-size: 32px;
}

div.updateSlot .addBtn {
  margin-right: 9px;
  margin-bottom: 12px;
}

div.updateSlot .minusBtn {
  margin-bottom: 12px;
}

div.updateSlot .buttons {
  margin-top: 26px;
}

div.updateSlot .errors {
  font-size: 28px;
  color: red;
}

/* Credits */
div.credits .titleContainer {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

div.credits .row {
  border-bottom: 2px solid #000;
}

div.credits .firstCol {
  border-left: 2px solid #000;
}

div.credits .col {
  padding-top: 15px;
  text-align: center;
  border-right: 2px solid #000;
}

div.credits .col p {
  margin-top: 10px;
  text-align: center;
  font-size: 22px;
}

div.credits .col a {
  margin-top: 20px;
}

/* Sign Up Form */
div.signUpPage, div.loginPage {
  margin-top: 60px;
}

div.signUpPage .titleContainer, div.loginPage .titleContainer {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  color: #154e14;
}

div.signUpPage form.signUpForm, div.loginPage form.loginForm {
  background-color: #ccc;
  color: #154e14;
}

div.signUpPage .btn, div.loginPage .btn {
 background-color: #154e14;
}

div.signUpPage .emailLabel, div.loginPage .emailLabel {
  margin-top: 10px;
}

div.signUpPage .btn:hover, div.loginPage .btn:hover {
  background-color: #268a24;
 }

div.signUpPage .redirect, div.loginPage .redirect {
  height: 60px;
  margin: 0;
  margin-top: 20px;
  background-color: #ccc;
  text-align: center;
}

div.signUpPage .redirect h6, div.loginPage .redirect h6 {
 margin-top: 20px;
}

div.signUpPage .redirect a, div.loginPage .redirect a {
  color: #154e14;
}



